/.dockerignore
.DS_Store
# TODO: uncomment when applications no longer use git to get version information
#.git/
/.github/
/.gitignore
/.goreleaser.yml
/*.env*
/.golangci.yaml
/.vscode/
/build/
/CONTRIBUTING.md
/Dockerfile
/docs/
/LICENSE*
/Makefile.maker.yaml
/README.md
/report.html
/shell.nix
/testing/
*.actual
/*.json
/*.yaml
privkey.pem
