# SPDX-FileCopyrightText: 2025 SAP SE or an SAP affiliate company
# SPDX-License-Identifier: Apache-2.0

.DS_Store
/*.env*
/.dockerignore
# TODO: uncomment when applications no longer use git to get version information
#.git/
/.github/
/.goreleaser.yml
/.vscode/
/CONTRIBUTING.md
/Dockerfile
/Makefile.maker.yaml
/README.md
/build/
/docs/
/go.work
/go.work.sum
/report.html
/shell.nix
/testing/
*.actual
privkey.pem
/.testdb/
