#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2019–2020 Target
# SPDX-FileCopyrightText: 2021 The Nix Community
# SPDX-License-Identifier: Apache-2.0
if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
elif type -P nix &>/dev/null; then
  use nix
else
  echo "Found no nix binary. Skipping activating nix-shell..."
fi
