# build artifacts
build/

# runtime artifacts (see Makefile)
/.env
privkey.pem

# testing artifacts
report.html
testing/conformance-test/storage/
testing/postgresql-data/
testing/postgresql-run/
testing/postgresql.log
*.actual
/*.json
!*/fixtures/*.json
/*.yaml
!Makefile.maker.yaml
